@font-face {
    font-family: Novito; /* имя шрифта для CSS правил */
    src: local("Novito"), /* проверяем наличие шрифта в ОС пользователя */
         url(fonts/Novito.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

.button {
  position: fixed;
  right:5px;
  top:5px;
  cursor: pointer;
}
.slider {
  position: fixed;
  right:50vw;
  bottom:5px;
  cursor: pointer;
}
section {
  line-height: 1.5;
  margin: 5px 10px;
    padding: 5px 10px;
}
.menu {
  z-index: 10;
  position:fixed;
  right: 20px;
  top:110px;
  font-family: Novito,arial;
  font-size:150%;
  text-align: center;
}
.menu ul {
      margin: 0;
      list-style: none;
      padding-left: 20px;
      display: none;

    /*  background-color: #a8b875; */
    }
.topmenu {
  background: url(../images/submenu.png) center / cover;
}
    .menu .title {
      font-size: 18px;
      cursor: pointer;
    }

    .menu .title::before {
      content: '▶ ';
      font-size: 80%;
      color: green;
    }

    .menu.open .title::before {
      content: '▼ ';
    }

    .menu.open ul {
      display: block;
    }

header {
  background: url(../images/bgtest.png) no-repeat left top / cover;
height:100vh;
width:100vw;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.all {
  background: url(../images/map1.png) no-repeat left top / cover;
  height:100vh;
  width: 100vw;
  font-family: Novito,arial;
  font-size: 350%;
  display: table-cell;
  vertical-align: bottom;
}

.way1 {
  background: url(../images/way1.png) no-repeat left top / cover;
  height:100vh;
  font-family: Novito,arial;
  font-size: 250%;
color:#c42d20;
  }
  .way2 {
    background: url(../images/way2.png) no-repeat left top / cover;
    height:100vh;
    font-family: Novito,arial;
    font-size: 220%;
    color: #610231;
    text-align: right;
  }
  .way3 {
    background: url(../images/way3.png) no-repeat left top / cover;
    height:100vh;
    font-family: Novito,arial;
    font-size: 250%;
    color: #d88a02;
  }
  .way1 a {
    color:#c42d20;
  }
  .way1 a:visited {
    color:#c42d20;
  }
  .way2 a {
    color:#610231;
  }
  .way2 a:visited {
    color:#610231;
  }
  .way3 a {
    color:#d88a02;
  }
  .way3 a:visited {
    color:#d88a02;
  }

  .one a {
    color:#610231;
  }
  .one a:visited {
    color:#610231;
  }
  .one a:hover {
    color:#f5433c;
  }
/* #a8b875 #f2eca9 */
  .two a {
    color:#610231;
  }
  .two a:visited {
    color:#610231;
  }
  .two a:hover {
    color:#f5433c;
  }���
  .topmenu a {
      color:#fff;
    }
    .topmenu a:visited {
      color:#fff;
    }
    .topmenu a:hover {
      color:#f5433c;
      

  ������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������ �����������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������
